.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ul-container{
    border: 10px;
    border-color: blueviolet;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-width: 10px;
    margin:10px
}

.ul-container:hover{
  cursor: pointer;
}

.li-item{
    font-size: 16px;
    font-weight: normal;
}

.button{
    min-width: 100px;
    min-height: 50px;
    align-self: center;
    margin: 20px;
}

.list-result{
    border-color: black;
    border-width: 10px;
    display: flex;
    flex-direction: column;
}

.form-container{
    display:flex;
    flex-direction: column;
}

.information-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}